<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Disciplinas - TutorTime</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .monitoria{
            font-size: 20px;
            display: inline-block;
            position: flex;
        }
        .imagem{
            width: 150px;
            height: 150px;
            image-resolution: 100%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <div class="imageLogo">
                <img src="logo.png" alt="Logo TutorTime">
            </div>
            TutorTime - IFSP
        </div>
        <ul class="menu">
            <li><a href="/home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="#">Manage</a></li>
        </ul>
    </header>

    <main>
        <h1 style="text-align: center;">Gerenciar Monitorias</h1>
        <div class="bloco">
            <div class="meio">
                <h1>Adicionar Monitoria</h1>
            </div>
            
            
            <div class="inputs">
                <form id="meuFormulario" action="/add" method="POST">
                    <div><!--Materia-->
                        Materia <br>
                        <select name="materiaREQ" class="input">
                        {{#each Materia}}
                            <option value="{{name}}" name="materiaREQ">{{nome}}</option>
                        {{/each}}
                        </select>
                    </div>
                    
                    <div><!--Monitor-->
                        Monitor <br>
                        <input type="text" name="monitorREQ" class="input">
                    </div>

                    <div><!--Professor-->
                        Professor <br>
                        <input type="text" name="professorREQ" class="input" >
                    </div>

                    <div><!--Local-->
                        Local
                        <select name="localREQ" class="input">
                            <option value="Sala1"> Sala 1 </option>
                            <option value="Sala2"> Sala 2 </option>
                            <option value="Sala3"> Sala 3 </option>
                            <!--Salas...-->
                        </select>
                    </div>

                    <div><!--Dia-->
                        Dia <br>
                        <select name="diaREQ" class="input">
                            <option value="Segunda">Segunda-Feira</option>
                            <option value="Terça-Feira">Terça-Feira</option>
                            <option value="Quarta-Feira">Quarta-Feira</option>
                            <option value="Quinta-Feira">Quinta-Feira</option>
                            <option value="Sexta-Feira">Sexta-Feira</option>
                        </select>
                    </div>

                    <div><!--Horario-->
                        Horario <br>
                        <input type="time" class="input" name="horarioREQ">
                    </div> 
                    
                    <div><!--Descricao-->
                        Descricao <br>
                        <input type="text" class="desc" name="descricaoREQ">
                    </div> <br>

                    <button type="submit" class="adicionar">Adicionar</button>
                </form>
            </div>
        </div>
        <div id="ListaDeMonitorias" class="listadisciplinas">
            <!-- Lista de disciplinas será gerada aqui -->
            <h1 style=" padding-left: 20px;">
                Monitorias
            </h1>
            {{#each Monitorias}}
            <div id="monitoria_mae" class="monitoria_mae">
                <div class="monitoria"> <!--Foto-->
                    <img src={{urlimg}} class="imagem">
                </div>

                <div class="monitoria"> <!--Nome-->
                    Materia : {{nome}}
                </div>

                <div class="monitoria"> <!--Prof-->
                    Professor : {{professorId}}
                </div>

                <div class="monitoria"> <!--Monitor-->
                    Monitor : {{monitoresp}}
                </div>

                <div class="monitoria"> <!--Dia-->
                    Dia / Hrs : {{diahrs}}
                </div>
                
                <div class="monitoria"> <!--Sala-->
                    Sala / Link : {{salink}}
                </div>
                
                <div class="monitoria" onclick>
                    <a href="/deletar/{{id_monitoria}}"><button>Apagar</button></a>
                </div>

                <br>
                <hr>
            </div>
            {{/each}}
        </div>
        
    </main>


</body>
</html>
